.page-user-one-list-break-word.MuiBox-root {
  display: block;
  text-align: center;
  width: 1000px;
  max-width: 90vw;
  overflow-wrap: break-word;
  margin-bottom: 20px;
}

.page-user-one-list-container-edit-buttons {
  gap: 3px;
  justify-content: flex-end;
  margin-bottom: 15px;
}
