.card-movie-small-card-content.MuiCardContent-root {
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-movie-small-card-media {
    height: 278px;
}

.typography-two-lines-elipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}